docs/operations/n8n/auto-tagging-workflow.json
{
  "id": "ljN6TsKdgEHXAWwm",
  "name": "Mesa de Ayuda - Auto Tagging",
  "active": false,
  "isArchived": false,
  "versionId": "c37e697a-103f-4136-8747-56b8cd0e660c",
  "description": "Asigna tags a tickets vía LLM (Groq) y POST a /webhooks/tickets/{id}/tags. Reemplaza el sub-flujo de tagging del workflow del bot.",
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "connections": {
    "Asignacion de Tags": { "main": [[{ "node": "Set Data Webhook", "type": "main", "index": 0 }]] },
    "Set Data Webhook": { "main": [[{ "node": "Formatear JSON", "type": "main", "index": 0 }]] },
    "Formatear JSON": { "main": [[{ "node": "Basic LLM Chain", "type": "main", "index": 0 }]] },
    "Basic LLM Chain": { "main": [[{ "node": "Validar tag_ids", "type": "main", "index": 0 }]] },
    "Groq Chat Model": { "ai_languageModel": [[{ "node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0 }]] },
    "Structured Output Parser": { "ai_outputParser": [[{ "node": "Basic LLM Chain", "type": "ai_outputParser", "index": 0 }]] },
    "Validar tag_ids": { "main": [[{ "node": "Aplicar Tags", "type": "main", "index": 0 }]] },
    "Aplicar Tags": { "main": [[{ "node": "Log Tagging Result", "type": "main", "index": 0 }]] }
  },
  "nodes": [
    {
      "id": "08ad1428-aa4e-4d16-ac4d-c227d967057e",
      "name": "Asignacion de Tags",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 112],
      "parameters": {
        "httpMethod": "POST",
        "path": "tagging",
        "responseMode": "onReceived",
        "options": { "responseData": "Workflow got started." }
      },
      "webhookId": "178a190a-a441-4f43-847a-cbfc631a4f0f"
    },
    {
      "id": "87ff387c-abd4-4e48-bb92-0e1d049b48c8",
      "name": "Set Data Webhook",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 112],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "4484c4fb-9ecd-4aa2-9918-ec6537b55a41", "name": "ticket.id", "value": "={{ $json.body.ticket.id }}", "type": "number" },
            { "id": "c42848e2-dac0-4438-b420-c7d74e1ca32c", "name": "ticket.subject", "value": "={{ $json.body.ticket.subject }}", "type": "string" },
            { "id": "5b1e66b4-6baf-4f8a-8de8-33804e77b4e2", "name": "ticket.description", "value": "={{ $json.body.ticket.description_plain }}", "type": "string" },
            { "id": "40828167-c0fd-4f3c-8b8c-97fec801ebb2", "name": "available_tags", "value": "={{ $json.body.ticket.available_tags }}", "type": "array" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4e1f558f-6711-4664-8bd2-eb0dd05ed73d",
      "name": "Formatear JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 112],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const chatInput = `Analiza este ticket y asigna los tags apropiados:\n\nTicket ID: ${$input.first().json.ticket.id}\nAsunto: ${$input.first().json.ticket.subject}\nDescripción: ${$input.first().json.ticket.description}\n\nTags disponibles (solo puedes elegir de estos):\n${JSON.stringify($input.first().json.available_tags, null, 2)}\n\nDevuelve el resultado en formato JSON con ticket_id y tag_ids (array de números).`;\n\nreturn [\n  {\n    json: {\n      chatInput: chatInput\n    }\n  }\n];"
      }
    },
    {
      "id": "3ae26247-aa54-45c1-96aa-62e4f8d30f50",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [672, 112],
      "parameters": {
        "promptType": "auto",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            { "type": "SystemMessagePromptTemplate", "message": "Eres un asistente experto en clasificación de tickets de soporte. Tu tarea es analizar tickets y asignar los tags más apropiados basándote en el asunto y descripción del ticket. IMPORTANTE: Solo puedes seleccionar tags de la lista proporcionada en 'available_tags'. Debes devolver ÚNICAMENTE un objeto JSON válido con este formato exacto: {\"ticket_id\": número, \"tag_ids\": [array de IDs de tags seleccionados]}. No agregues explicaciones ni texto adicional, solo el JSON." }
          ]
        },
        "batching": {}
      },
      "retryOnFail": true
    },
    {
      "id": "37733e17-98e8-440e-b1cf-803a846642f9",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [688, 336],
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      }
    },
    {
      "id": "5edf154a-4058-4925-af70-b8eb4dd6cf74",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [816, 336],
      "parameters": {
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n\t\"ticket_id\": 1,\n\t\"tag_ids\": [1]\n}"
      }
    },
    {
      "id": "3852319a-863d-4e4e-9b38-8bc3f91b9b61",
      "name": "Validar tag_ids",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1024, 112],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const llmOutput = $input.first().json.output;\nconst available = $('Set Data Webhook').first().json.available_tags;\nconst availableIds = (available || []).map(t => Number(t.id));\n\nconst requested = (llmOutput.tag_ids || []).map(Number);\nconst valid = requested.filter(id => availableIds.includes(id));\nconst dropped = requested.filter(id => !availableIds.includes(id));\n\nif (dropped.length > 0) {\n  console.warn('LLM hallucinated tag_ids', { dropped, ticket_id: llmOutput.ticket_id });\n}\n\nreturn [{ json: {\n  ticket_id: Number(llmOutput.ticket_id),\n  tag_ids: valid,\n  dropped: dropped,\n}}];"
      }
    },
    {
      "id": "a2a28de5-54b4-4b01-9bcc-52cee2fb6100",
      "name": "Aplicar Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1248, 112],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MESADEAYUDA_URL }}/webhooks/tickets/{{ $json.ticket_id }}/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"tag_ids\": $json.tag_ids, \"source\": \"auto\" } }}",
        "options": {}
      },
      "retryOnFail": true
    },
    {
      "id": "5fdef76a-ceb6-41dc-8d75-e034065f0225",
      "name": "Log Tagging Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1472, 112],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const validated = $('Validar tag_ids').first().json;\nconst response = $input.first().json;\n\nconsole.log('Tagging applied', {\n  ticket_id: validated.ticket_id,\n  requested: validated.tag_ids,\n  hallucinated_dropped: validated.dropped,\n  added: response.added ?? [],\n  skipped_existing: response.skipped_existing ?? [],\n  skipped_unknown: response.skipped_unknown ?? [],\n});\n\nreturn [{ json: response }];"
      }
    }
  ],
  "_notes": {
    "credentials_pending": [
      "Groq API credentials needed on 'Groq Chat Model' (groqApi)",
      "Header Auth credentials needed on 'Aplicar Tags' (httpHeaderAuth) with X-Webhook-Token header for webhook_tickets_tags_token"
    ],
    "env_vars_pending": [
      "MESADEAYUDA_URL must be set in n8n environment"
    ],
    "retry_config_note": "retryOnFail propagated; maxTries/waitBetweenTries to be tuned via n8n UI (SDK persists retryOnFail; tries default 3)"
  }
}
